################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/homework3.slnx/FileContentIndex/a591d6fe-e29d-419f-a690-cb559351575f.vsidx
